/*Reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: auto;
    margin: 0 auto;    
}

nav {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: blue;
}

footer {
    background-color: aquamarine;
}

/*Mobile styles*/
.nav-mobile {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 25%;
}

.list-menu {
position: absolute;
background-color: #FD8426;
height: 100%;
width: 65%;
margin-left: -100%;
}

nav ul li {
    padding: 10%;
    height: 10%;
    border-bottom: 2PX #f9f9f95b solid;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #f56d05;
}

a {
    color: #f9f9f9;
    font-size: 1.3rem;
}

.fa-bars {
    font-size: 6vh;
    padding: 5%;
}

/*Desktop styles*/
@media (min-width: 768px) {
    .list-menu {
        position: relative; 
    }

    a {
        color: black;
    }

    .fa-bars {
        opacity: 0;    
        font-size: 0;
    }
}