/*Reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*General styles*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: antiquewhite;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    width: 15%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: aqua;
}

.nav-btn {
    height: 10%;
    width: 15%;
    padding: 1%;
    margin-top: 5%;
    background-color: aqua;
    border-radius: 25px;
    cursor: pointer;
}

.nav-btn a {
    color: #000;
}

main {
    background-color: aquamarine;
}

footer {
    background-color: blueviolet;
}
/*Desktop styles*/


/*Mobile styles*/

@media only screen and (max-width: 768px) {

}