/*Reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*General styles*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/*nav styles*/
.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    width: 15%;
}

.nav-menu {
    display: flex;
    margin: auto 0;
}

.nav-menu li {
    padding: 0 3%;
}

.nav-menu li a {
    color: #fd8426;
}

.nav-menu li a:hover {
    border-bottom: 1px solid #fd8426;
    filter: drop-shadow(5px 5px 5px #fd8426)
}

.nav-btn {
    height: 10%;
    width: 20%;
    padding: 1%;
    margin: auto 0;
    background-color: #fd8426;
    border-radius: 25px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #fd83269f;
    box-shadow: 2px 2px 15px #fd8426;
}

.nav-btn:hover > a {
    color: #f5710d;
}

.nav-btn a {
    color: #f9f9f9;
    font-weight: bold;
    padding: 0 14.5%;
}

header {
    background-color: aqua;
}

main {
    background-color: aquamarine;
}

footer {
    background-color: blueviolet;
}
/*Desktop styles*/


/*Mobile styles*/

@media only screen and (max-width: 768px) {

}